.resourcesdiv {
  display: inline-grid;
  margin: 0.2em;
  border: 1px solid;
  border-radius: 1em;
}

h3 {
  margin: auto;
}

table {
  font-family: arial, sans-serif;
  margin: auto;
  padding: 5px; 
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #dddddd;
}