.maintitle {
  text-align: center;
}

.resourcesdivpie {
  margin: 0 auto;
  width: 40em;
}

.resourcesdiv {
  border-radius: 1.5em;
  border: 0.2em solid #1c8686;
  display: grid;
  margin: 2em auto;
  text-align: center;
  width: 95em;
}

h3 {
  margin: left;
}

table {
  font-family: arial, sans-serif;
  margin: 0 auto;
  margin: left;
  padding: 5px;
}

td, th {
  border: 1px solid #1c8686;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #dddddd;
}